<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="HuellaDactilar.Properties.Settings.asistenciaConnectionString"
      connectionString="Host=localhost;Database=asistencia;Username=postgres;Password=postgres;Persist Security Info=True"
      providerName="Npgsql" />
    <add name="HuellaDactilar.Properties.Settings.grehu_etiConnectionString"
      connectionString="Password=postgres;Persist Security Info=True;Username=postgres;Database=grehu_eti;Host=localhost"
      providerName="Npgsql" />
  </connectionStrings>
</configuration>